/*

Stylesheet - LucasPiano.com

Home Page

Author: TY Interactive
2009-2010

filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;

*/

#contentPage {min-height:400px; height:auto !important; height:400px;}
#search
{
	float:left;
	width:290px;
	background:url(../images/bg_opaco.png) repeat;
	border:1px solid #333;
	padding:15px 15px 30px 15px;
	font-size:16px;
	color:#FFAC00;
}

	#search h1 {background:url(../images/t_busca.png) no-repeat top left; margin:0; padding:0; height:70px; text-indent:-9999px;}
	#search h1.en {background:url(../images/t_busca_en.png) no-repeat top left; margin:0; padding:0; height:70px; text-indent:-9999px;}
	#search h1.es {background:url(../images/t_busca_es.png) no-repeat top left; margin:0; padding:0; height:70px; text-indent:-9999px;}




#sheetsContent
{
	float:left;
	position:relative;
	height:auto;
	min-height:400px;
	width:570px;
	left:50px;
	top:15px;
}

	#sheetsContent p {line-height:1.6; margin-top:15px;}
	#sheetsContent h1 {background:url(../images/t_downloads.png) no-repeat top left; margin:0; padding:0; height:60px; text-indent:-9999px;}
	#sheetsContent h2 {font-family: "Trebuchet MS", Tahoma, Arial, Verdana; background:#FFAC00; color:#fff; padding-left:5px; width:100%; font-size:32px; margin-bottom:10px;}
	#sheetsContent h3 {font-family: "Trebuchet MS", Tahoma, Arial, Verdana; color:#FFF; font-size:16px; margin-bottom:10px;}
	#sheetsContent h4 {font-family: "Trebuchet MS", Tahoma, Arial, Verdana; color:#FFAC00; font-size:16px; margin-bottom:3px;}
	#sheetsContent h5 {font-family: "Trebuchet MS", Tahoma, Arial, Verdana; background:#FFAC00; color:#fff; padding-left:5px; width:100%; font-size:16px; margin-bottom:10px;}



		#left
		{
			float:left;
			width:250px;
			height:auto;

		}

		#right
		{
			float:right;
			width:200px;
			height:auto;
		}



	#sheetsContent ul
	{
		width:100%;
		margin:25px 0 0 0;
		padding:0;
		list-style:none;

	}

	#sheetsContent ul li
	{
		margin:0;
		padding:7px 0;
		list-style:none;
		border-bottom:1px solid #333;
	}

	#sheetsContent ul li a, #sheetsContent ul li span
	{
		font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
		background:url(../images/star.png) no-repeat left center;
		font-size:13px;
		color:#FFAC00;
		padding-left:25px;
		font-weight:bold;
	}

	#sheetsContent ul li span {background:none; padding-top:3px; color:#FFF;}

	#search {font-family: "Trebuchet MS", Tahoma, Arial, Verdana; font-size:12px; color:#FFF;}
	#search fieldset {border:none; margin-top:7px;}
	#search label {float:left;	width:80px;	text-align:right; padding-right:5px;}
	#search select {width:100px; background:#333; color:#FFF; border:1px solid #666;}
	#search .container {position: relative; width: 124px; height: 18px; overflow: hidden; margin-bottom:10px;}
	#search .inpSelect {color: black; background: #333; color:#FFF;  position: absolute; width: 128px; top: -2px; left: -2px;}
	#search input {background:#333; border:1px solid #666; padding:2px; color:#FFF;}
	#search .button
	{
		border:none;
		width:80px; height:26px;
		font: 14px Verdana, Arial, Tahoma, Sans-Serif;
		font-weight:bold;
		color: #FFAC00;
		background:url('../images/bg_button.gif') repeat-x #000;
		text-align:center;
		margin-top:10px;
		float:right;
		margin-right:26px;
		border:1px solid #000;
	}

	.searchResult h1 {font-family: "Trebuchet MS", Tahoma, Arial, Verdana; color:#FFAC00; font-size:24px; margin-bottom:10px;}
	{

	}
	.searchResult
	{
		border-bottom:1px solid #333;
		margin-top:10px;
		padding:10px 0;
	}

	.searchResult span { font-size:12px; }

	.ordenacao {float:right; margin-bottom:15px; clear:both;}
	.ordenacao label {float:left;  width:80px;	text-align:right; padding-right:5px; margin-top:3px;}
	.ordenacao select {width:100px; background:#333; color:#FFF; border:1px solid #666;}
	.ordenacao .inpSelect {color: black; background: #333; color:#FFF; float:left; }



/** TABELA **/

.tabela {
	float:left;
	margin:0px;padding:0px;
	width:100%;
	font-size:12px;
}

.tabela table{
	width:100%;
	margin:0px;padding:0px;
}

.tabela tr:nth-child(odd){ background-color:#191919; }

.tabela tr:nth-child(even)    { background-color:#333333; }
.tabela td{

	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px;
	text-align:left;
	padding:7px;
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;

}.tabela tr:last-child td{
	border-width:0px;
}.tabela tr td:last-child{
	border-width:0px;
}.tabela tr:last-child td:last-child{
	border-width:0px;
}

.tabela tr:first-child td{

	background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);
	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.tabela tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);
	background-color:#ff7f00;
}

.tabela tr:first-child td:first-child{
	border-width:0px;
}

.tabela tr:first-child td:last-child{
	border-width:0px;
}


#paginacao {margin-top:20px;}
#paginacao a.page-number,
#paginacao span {display:inline-block; width:12px; height:13px; padding:3px; text-align:center; background:#333;}

#paginacao a.page-number:hover {text-decoration:none; background:#fff; color:#000;}


