/*

Stylesheet - LucasPiano.com

Home Page

Author: TY Interactive
2009-2010

filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;

*/

#contentPage {height:400px;}
#estrutura
{
	float:left;
	position:relative;
	width:290px;
	height:100%;
	background:url(../images/bg_opaco.png) repeat;
	border:1px solid #333;
	padding:15px 15px 30px 15px;
	font-size:16px;
	color:#FFAC00;
}

	#estrutura h1 {background:url(../images/t_estrutura.png) no-repeat top left; margin:0; padding:0; height:70px; text-indent:-9999px;}

	#estrutura ul
	{
		width:100%;
		margin:25px 0 0 0;
		padding:0;
		list-style:none;

	}

	#estrutura ul li
	{
		margin:0;
		padding:0;
		background:url(../images/check.png) no-repeat left top;
		list-style:none;
		margin-bottom:7px;
	}

	#estrutura ul li span
	{
		font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
		color:#FFF;
		padding-left:20px;
	}


#workshopContent
{
	float:left;
	position:relative;
	width:570px;
	height:380px;
	left:50px;
	top:15px;
}

	#workshopContent h1 {background:url(../images/t_workshops.png) no-repeat top left; margin:0; padding:0; height:70px; text-indent:-9999px;}
	#workshopContent p {line-height:1.6; margin-top:15px; font-size:12px;}